.map-box {
    padding: 10px;
    border: 1px solid rgb(255, 148, 148);
    border-radius: 6px;
    margin-top: 20px;
    height: 750px;
    width: 1400px;
    background-color: rgba(233, 236, 192, 0.932);
}

.map,
.track,
.spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.map {
    z-index: 0;
}

.track {
    z-index: 100;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 960px;
}

.hint {
    color: #993131;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}